<h1>Please Log In</h1>

<h2> or <%= link_to "Create a New Account", new_user_path %> </h2>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <%= f.submit "Login" %>
<% end %>