<span>Welcome, <%= current_user.username %>! </span> | <%= link_to "Logout", logout_path, method: :delete %>

<h2>Submit a Link</h2>

<%= form_for(@link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>

  <%= f.label :url %>
  <%= f.text_field :url %><br>

  <%= f.submit "Submit Link" %>
<% end %>

<h1>Links</h1>

<hr />

<section id="search-area">
  <h3>Search Links:</h3>
  <input type="text" id="search-input" placeholder="Search Links" />
</section>

<hr />

<%= select_tag(:location, options_for_select([ ["Filter By Status", 0], ["Read", 1], ["Unread", 2] ], selected: 0), class: "status-filter") %>

<% @links.each do |link| %>
  <p class="link" data-link-id=<%= link.id.to_s %> >
    <span class="title"><%= link.title %></span>, <%= link_to link.url, link.url %><br>
    <span class="status"><%= link.status %></span>
    | <button class="change-status"><%= button_text(link.id) %></button>
    | <%= link_to "Edit", edit_link_path(id: link), class: "edit" %>
  </p>
<% end %>