<span>Welcome, <%= current_user.username %>! </span> | <%= link_to "Logout", logout_path, method: :delete %>

<h2>Submit a Link</h2>

<%= form_for(@link) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %> <br>

  <%= f.label :url %>
  <%= f.text_field :url %><br>

  <%= f.submit "Submit Link" %>
<% end %>

<h1>Links</h1>

<section id="search-area">
  <h3>Search Links:</h3>
  <input type="text" id="search-input" placeholder="Search Links" />
</section>

<section id="filter">
  <%= select_tag(:status_filter, options_for_select([ ["Filter By Status", 0], ["Read", 1], ["Unread", 2] ], selected: 0), class: "status-filter") %>
  <%= select_tag(:alphabetical_filter, options_for_select([ ["Sort Alphabetically ...", 0], ["A-Z", 1], ["Z-A", 2] ], selected: 0), class: "alphabetical-filter") %>
</section>

<section id="links">
  <%= render partial: "shared/link_list" %>
</section>